---

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>2023-codegrid-astro-view-transitions-demo</title>
  </head>
  <body>
    <header>🤗</header>
    <slot />
    <style>
      header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-bottom: 1px solid gray;
        font-size: 30px;
        box-sizing: border-box;
      }
      body {
        margin: 0;
      }
    </style>
  </body>
</html>
